body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    background-color: rgb(247, 228, 63);
    height: 200vh;
    width: auto;
}
label {
    margin-top: 55px;
    display: block;
    margin-bottom: 10px;
}


